<p>
  <b>Content:</b>
  <%= @micropost.content %>
</p>

<p>
  <b>User:</b>
  <%= @micropost.user.name %>
</p>


<%= link_to 'Edit', edit_user_micropost_path(@user) %> |
<%= link_to 'Back', user_microposts_path %>
